<p style="color: green"><%= notice %></p>

<h1>Friends List</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
    <th scope="col"><% @friends.each do |friend| %></th>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
    </tr>
  </thead>
</table>


<%= link_to "New friend", new_friend_path %>
